version: "3.9"

services:
  db:
    image: postgres:16
    container_name: jobtracker_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: jobtracker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    container_name: jobtracker_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    user: node
    networks:
      - internal
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"

volumes:
  postgres_data:

networks:
  internal:
    driver: bridge
    internal: true
